body {
  background-color: rgb(189, 199, 43);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding-left: 20px;
  width: 90%;
  
  
}

img {
  width: 20%;
}



.red_font {
  color: #0a0304;
}
